@font-face {
    font-family: 'NanumGangInHanWiRo';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGangInHanWiRo/NanumGangInHanWiRo.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGangInHanWiRo/NanumGangInHanWiRo.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGangInHanWiRo/NanumGangInHanWiRo.ttf') format('truetype');
}
